<div id="nu_logo" style="padding-bottom: 20px;"><a href="https://nanouniverse.pl/"><img style="display: block; margin: auto;" src="http://launcher.nanouniverse.pl/res/logo.png" width="300" height="65" alt="Modded Minecraf Server Community - NanoUniverse" title="NanoUniverse Modded Minecraft Servers"></a></div>

<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="{{ pathto(master_doc) }}">Docs</a> &raquo;</li>
      {% for doc in parents %}
          <li><a href="{{ doc.link|e }}">{{ doc.title }}</a> &raquo;</li>
      {% endfor %}
    <li>{{ title }}</li>
      <li class="wy-breadcrumbs-aside">
        {% if display_github %}
          <a href="https://github.com/{{ github_user }}/{{ github_repo }}/blob/{{ github_version }}{{ conf_py_path }}{{ pagename }}{{ source_suffix }}" class="fa fa-github"> Edit on GitHub</a>
        {% elif display_bitbucket %}
          <a href="https://bitbucket.org/{{ bitbucket_user }}/{{ bitbucket_repo }}/src/{{ bitbucket_version}}{{ conf_py_path }}{{ pagename }}{{ source_suffix }}" class="fa fa-bitbucket"> Edit on Bitbucket</a>
        {% elif show_source and has_source and sourcename %}
          <a href="{{ pathto('_sources/' + sourcename, true)|e }}" rel="nofollow"> View page source</a>
        {% endif %}
      </li>
  </ul>
  <hr/>
</div>
